# Dependencies
node_modules

# Build outputs
dist
build
out

# Test reports
test-results
playwright-report
coverage

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.idea
.vscode

# Misc
*.log
.DS_Store

